
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.eot'),
        url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
        url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto-v20-latin-500.eot'),
        url('../fonts/roboto-v20-latin-500.woff') format('woff'),
        url('../fonts/roboto-v20-latin-500.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v20-latin-700.eot'),
        url('../fonts/roboto-v20-latin-700.woff') format('woff'),
        url('../fonts/roboto-v20-latin-700.ttf') format('truetype'),
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1600px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.bg {
    background: url(./assets/image/bg-image-wrapper.png);
}

.hidden {
    visibility: hidden;
    position: absolute;
}

.header__title {
    overflow: hidden;
}

.header {
    padding-top: 20px;
}

.header__block {
    display: flex;
    justify-content: space-around;
}

.header__logo {
    width: 44px;
    height: 45px;
    background-image: url(./assets/image/logo.svg);
    background-size: cover;
}

.hamburger {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.nav__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
    width: 100%;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}

.nav__link--active {
    border-bottom: 1px solid #fff;
}

.nav__link:hover {
    border-bottom: 1px solid #fff;
    opacity: 0.5;

}

.your-live__block {
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.your-live__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.your-live__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.your-live__btn {
    width: 184px;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 183px;
    outline: 0;
    border: none;
    background: #00AFDB linear-gradient(to left, transparent, transparent 50%, #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;

}

.your-live__btn:hover {
    color:#00AFDB;
    transition: all 0.5s ease-in;
    background-position: 0 0;
}

.social {
    display: flex;
    list-style: none;
    margin-bottom: 20px;
}

.social__item {
    margin-right: 30px;
}

.social__item:last-child {
    margin-right: 0;
}

.icon{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: cover;
}

.icon:hover{
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}

.icon__mail{
    background-image: url(./assets/image/mail_fff.svg);
}

.icon__facebook{
    background-image: url(./assets/image/facebook_fff.svg);
}

.icon__insta{
    background-image: url(./assets/image/insta_fff.svg);
}
.icon__telegram{
    background-image: url(./assets/image/telegram_fff.svg);
}

.rappresent__block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px 0;
}

.rappresent__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.rappresent__title {
    width: 367px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 20px;
}

.rappresent__text {
    width: 407px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    padding-bottom: 30px;
    letter-spacing: 0.2px;
}

.rappresent__btn {
    width: 184px;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.5s ease-in;
    background-color: #00AFDB;
    letter-spacing: -0.6px;
    margin-bottom: 10px;
}

.rappresent__btn:hover {
    color:#00AFDB;
    background-color:#8adff5;
}

.community {
    background: #f5f6f7;
}

.community__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
}

.community__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 298px;
    margin-bottom: 20px;
}

.community__person {
    padding-bottom: 20px;
}

.community__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 10px;
}

.community__text {
    width: 298px;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    color: #4E4E4E;
}

.community__content {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.community__slider {
    margin-right: 30px;
    margin-bottom: 10px;
}

.community__slider:last-child {
    margin-right: 0px;
}

.implement__block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 842px;
}

.implement__info {
    width: 407px;
    margin-top: -20px;
}

.implement__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 20px;
}

.implement__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    padding-bottom: 30px;
}

.implement__btn {
    width: 180px;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.5s ease-in;
    background-color: #00AFDB;
    letter-spacing: -0.6px;
}

.implement__btn:hover {
    color:#00AFDB;
    background-color:#8adff5;
}

.sign-up {
    background: url(./assets/image/sign.png);
}

.sign-up__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 598px;
}


.sign-up__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 217px;
    padding-bottom: 30px;
}

.sign-up__form {
    margin-left: -65px;
}

.sign-up__input {
    box-sizing: border-box;
    width: 340px;
    height: 46px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
    background: #FFFFFF;
    border-radius: 0px;
    border: 0;
    outline: none;
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 12px;
    position: relative;
}

.sign-up__btn {
    width: 66px;
    height: 46px;
    background: #00AFDB;
    border-radius: 0px;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
}

.sign-up__icon:hover {
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(0%) contrast(100%);
    transition: all .5s linear;
}

.download__block {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 468px;
}

.download__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    letter-spacing: -0.2px;
    padding-top: 122px;
    padding-bottom: 20px;
}

.download__text {
    width: 483px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #4E4E4E;
    padding-bottom: 30px;
}

.download__buttons {
    width: 406px;
    display: flex;
}

.btn {
    width: 188px;
    height: 50px;
    background-color: #00AFDB;
    border: 0;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-right: 30px;
    position: relative;
}

.btn:last-child {
    margin-right: 0px;
}

.btn:hover, .btn__ico:hover {
    background-color:#8adff5;
    transition: all .5s linear;
}

.btn__info {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: -0.9px;
    padding-right: 60px;
    padding-top: 18px;
    padding-bottom: 16px;
}

.btn__ico {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009CC2;
    position: absolute;
    right: 0px;
    top: 0;
}

.btn__mobile:hover {
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(0%) contrast(100%);
    transition: all .5s linear;
}

.footer {
    background-color: #000;
}

.footer__info {
    height: 184px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 75px;
    box-sizing: border-box;
}

.footer__menu {
    display: flex;
}

.footer__item {
    padding-right: 40px;
    list-style: none;
    position: relative;
}

.footer__logo {
    width: 44px;
    height: 45px;
    background-image: url(./assets/image/logo.svg);
    background-size: cover;
    cursor: pointer;
}

.footer__item::before {
    content:'';
    position: absolute;
    display: block;
    width: 0px;
    height: 8px;
    border: 1px solid #4E4E4E;
    right: 19px;
    top: 5px;
}

.footer__item:last-child::before {
    border: 0;
}

.footer__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.98;
    text-decoration: none;
}

.footer__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #818181;
    letter-spacing: -0.1px;
}

.footer__link:hover {
    color:#8adff5;
    transition: all .5s linear;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .your-live__title {
        font-size: 50px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .your-live__title {
        font-size: 40px;
    }

    .your-live__text {
        font-size: 16px;
    }

    .rappresent__info {
        padding-left: 0;
        width: 100%;
    }

    .rappresent__title {
        width: 100%;
        font-size: 20px;
        letter-spacing: 0;
    }

    .rappresent__text {
        width: 100%;
        letter-spacing: 0;
    }

    .rappresent__picture {
        width: 100%;
    }

    .community__slider {
        width: 100%;
        margin-right: 0;
    }

    .implement__picture {
        width: 100%;
    }

    .implement__info {
        margin-top: 20px;
        width: 100%;
    }

    .implement__block {
        height: inherit;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {

    .nav {
        width: 0;
    }

    .header__block {
        justify-content: space-between;
    }

    .your-live__title {
        font-size: 30px;
        line-height: 50px;
    }

    .your-live__text {
        font-size: 16px;
    }

    .rappresent__info {
        padding-left: 0;
        width: 100%;
    }

    .rappresent__title {
        width: 100%;
        font-size: 20px;
        letter-spacing: 0;
    }

    .rappresent__text {
        width: 100%;
        letter-spacing: 0;
    }

    .rappresent__picture {
        width: 100%;
    }

    .community__slider {
        width: 100%;
        margin-right: 0;
    }

    .implement__block {
        height: inherit;
        margin-bottom: 20px;
    }

    .implement__info {
        margin-top: 20px;
        width: 100%;
    }

    .implement__picture {
        width: 100%;
    }

    .sign-up__input {
        width: 235px;
    }

    .download__block {
        height: 280px;
    }

    .download__title {
        padding-top: 20px;
    }

    .download__text {
        width: 310px;
    }

    .btn {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .download__buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .footer__info {
        padding-top: 50px;
        height: 130px;
    }

    .hamburger {
        position: absolute;
        width: 30px;
        height: 22px;
        right: 44px;
        display: inline-block;
        z-index: 16;
        transition: all 0.5s;
    }

    .hamburger__line, .hamburger::before, .hamburger::after  {
        content: '';
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        left: 0;
        top: 12px;
        border-radius: 5px;
        background: #F1CDB3;
    }

    .hamburger::before{
        top: 2px;
    }

    .hamburger::after{
        top: 22px;
    }

    .hamburger__rotate--active {
        transform: rotate(90deg);
        transition: all 0.5s;
        position: fixed;
        top: 20px;
        right: 56px;
    }

    .nav__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 32px;
        list-style: none;
        color: #CDCDCD;
        position: fixed;
        width: 320px;
        background-color: #292929;
        height: 100%;
        top: 0;
        right: -400px;
        transition: right .5s;
        z-index: 15;
        opacity: 1;
    }

    .nav__item--active {
        right: 0;
    }

    .overlay--active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(41, 41, 41, 0.6);
        z-index: 1;
    }
}
