* {
    padding: 0;
    margin: 0;
    font-style: normal;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
}

.header {
    width: 100vw;
    position: absolute;
    top: 60px;
    left: -8px;
}

.header__block {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
}

.header__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-bottom: 10px;
}

.header__text {
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: #FFFFFF;
}

.hamburger {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 443px;
}

.menu__lists {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    width: 100%;
}

.menu__item {
    display: flex;
    align-items: center;
}

.menu__link {
    color: #CDCDCD;
    text-decoration: none;
}

.menu__link:hover {
    border-bottom: solid 3px #F1CDB3;
    opacity: 0.6;
}

.menu__link--active {
    border-bottom: solid 3px #F1CDB3;
}


.hero {
    background: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 176px;
}

.hero__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 77px;
}

.hero__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 310px;
    padding-bottom: 42px;
}

.hero__title--line {
    display: block;
}

.hero__text {
    font-family: Arial;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
    padding-bottom: 41px;
}

.hero__btn {
    font-family: Georgia;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 207px;
    height: 52px;
    border-radius: 100px;
    outline: 0;
    border: none;
    cursor: pointer;
    background: #F1CDB3 linear-gradient(to left, transparent, transparent 50%, #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
}

.hero__btn:hover {
    color: #F1CDB3;
    transition: all 0.5s ease-in;
    background-position: 0 0;
}



.about__block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 588px;
}

.about__picture {
    margin-right: 120px;
    margin-bottom: 20px;
}

.about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6px;
}

.about__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    width: 370px;
    color: #545454;
    padding-bottom: 25px;
}

.about__text {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    width: 430px;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding-bottom: 25px;
}


.our-friends {
    background: #F6F6F6;
    height: 877px;
}

.our-friends__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 80px;
    padding-bottom: 60px;
}

.our-friends__block {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}


.our-friends__buttons {
    position: relative;
}


.buttons__arrow--left {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color:#f6f6f6;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 5;
    bottom: 250px;
}

.buttons__arrow--right {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color:#f6f6f6;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 250px;
}

.buttons__arrow--right:hover, .buttons__arrow--left:hover {
    background: #F1CDB3;
    transition: all 0.3s ease-in;
}

.arrow {
    background: url(/assets/images/icons/arrow.svg) no-repeat;
    width: 16px;
    height: 13px;
    display: inline-block;
    background-size: cover;
}

.arrow:hover {
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}


.arrow--right {
    transform: rotate(180deg);
    margin-top: 7px;
}


.card {
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 0 -15px;
}

.card:hover {
    opacity: 0.7;
}

.card__name {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.card__btn {
    width: 187px;
    height: 52px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    outline: 0;
    cursor: pointer;
    background: #fafafa linear-gradient(to left, transparent, transparent 50%, #F1CDB3 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
}

.card__btn:hover {
    color: #000000;
    transition: all 0.5s ease-in;
    background-position: 0 0;
}



.our-friends__bth {
    display: flex;
    justify-content: center;
}

.bth__lower {
    width: 261px;
    height: 52px;
    font-family: Georgia;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    outline: 0;
    border: none;
    background: #F1CDB3 linear-gradient(to left, transparent, transparent 50%, #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
}

.bth__lower:hover {
    color: #292929;
    transition: all 0.5s ease-in;
    background-position: 0 0;
}


.help {
    height: 611px;
}

.help__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 53px;
    padding-bottom: 100px;
}

.help__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 80px;
    padding-bottom: 60px;
}

.help__title--line {
    display: block;
}

.icon {
    height: 60px;
    width: 60px;
    display: inline-block;
    background-size: cover;
}

.icon--pet {
    background-image: url(/assets/images/icons/help/pet-food.svg);
}

.icon--transportation {
    background-image: url(/assets/images/icons/help/transportation.svg);
}

.icon--toys {
    background-image: url(/assets/images/icons/help/toys.svg);
}

.icon--bowls {
    background-image: url(/assets/images/icons/help/bowl.svg);
}

.icon--shampoos {
    background-image: url(/assets/images/icons/help/shampoo.svg);
}

.icon--vitamins {
    background-image: url(/assets/images/icons/help/vitamins.svg);
}

.icon--medicines {
    background-image: url(/assets/images/icons/help/medicines.svg);
}

.icon--collars {
    background-image: url(/assets/images/icons/help/collars.svg);
}

.icon--sleeping {
    background-image: url(/assets/images/icons/help/sleeping-area.svg);
}

.icon__subtitle {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 30px;
}


.addition {
    height: 464px;
    background: #F6F6F6;
}

.addition__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 82px;
}

.addition__picture {
    margin-right: 30px;
}

.addition__info {
    width: 380px;
    display: flex;
    flex-direction: column;
}

.addition__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.addition__title--line {
    display: block;
    padding-bottom: 20px;
}

.addition__text {
    font-family: Georgia;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-bottom: 20px;
}

.addition__description {
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    color: #B2B2B2;
}

.addition__credit {
    display: flex;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    padding: 8px 15px;
    margin-bottom: 20px;
}

.credit {
    height: 23px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    margin-right: 14px;
    margin-top: 2px;
}

.credit--card {
    background-image: url(/assets/images/icons/credit-card.svg);
}

.credit__number {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    cursor: pointer;
    text-decoration: none;
    padding-top: 2px;
}

.footer {
    background: url(/assets/images/footer-background.png);
    height: 350px;
}

.footer__block {
    display: flex;
    box-sizing: border-box;
}

.footer__content {
    margin-top: 62px;
}

.footer__content--two {
    margin-top: 63px;
    margin-left: -20px;
}

.content__title {
    font-family: Georgia;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.content__title--line {
    display: inline-block;
}

.content__item {
    list-style: none;
}

.content__link {
    text-decoration: none;
    display: flex;
    margin-bottom: 40px;
}

.link__icon-email {
    background-image: url(/assets/images/icons/icon-email.svg);
    width: 40px;
    height: 32px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.link__icon-phone {
    background-image: url(/assets/images/icons/phone.svg);
    width: 40px;
    height: 32px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

.link__icon-pin {
    background-image: url(/assets/images/icons/icon-marker.svg);
    width: 22px;
    height: 32px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
}

.link__description {
    font-family: Georgia;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-left: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer__picture {
    margin-top: 40px;
}

.indent {
    margin-top: -7px;
}


@media (min-width: 768px) and (max-width: 1279px) {

    .wrapper {
        padding: 0 30px;
    }

    .header {
        top: 30px;
    }

    .header__title {
        padding-left: 10px;
    }

    .header__text {
        padding-left: 12px;
    }

    .menu__lists {
        margin-left: 8px;
        margin-top: -4px;
    }

    .menu__item:nth-child(4) {
        margin-right: -6px;
    }

    .hero {
        padding-top: 150px;
        margin-bottom: -5px;
    }

    .hero__block {
        justify-content: center;
    }

    .hero__info {
        padding-bottom: 100px;
    }

    .hero__button {
        display: flex;
        justify-content: center;
    }

    .hero__image {
        margin-left: 135px;
    }

    .hero__picture {
        width: 100%;
    }


    .about__block {
        height: auto;
        flex-direction: column-reverse;
        padding-top: 71px;
        padding-bottom: 100px;
    }

    .about__info {
        margin-bottom: 58px;
    }

    .about__picture {
        margin-right: 0;
        margin-bottom: 0;
    }

    .card:nth-child(3) {
        display: none;
    }

    .cat {
        width: 184px;
        margin-left: 19px;
    }

    .jennifer {
        margin-left: 10px;
    }

    .our-friends__block {
        padding-bottom: 57px;
    }

    .name__cat {
        margin-top: 13px;
        margin-left: 7px;
    }

    .card__btn {
        margin-right: -7px;
    }

    .name__dog {
        margin-right: 4px;
    }

    .btn__dog {
        margin-right: 7px;
        margin-bottom: 4px;
    }


    .help {
        height: auto;
    }

    .help__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
        margin-right: 10px;
        margin-left: 10px;
    }

    .help__title {
        padding-top: 78px;
    }


    .addition {
        height: auto;
    }

    .addition__block {
        flex-direction: column-reverse;
        padding-top: 84px;
    }

    .addition__description {
        padding-bottom: 60px;
    }

    .addition__picture {
        padding-bottom: 100px;
        margin-right: 0;
    }

    .footer {
        height: auto;
    }

    .footer__block {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer__content {
        width: 279px;
        margin-top: 32px;
        margin-bottom: 20px;
    }

    .footer__content--two {
        width: 302px;
        margin-top: 32px;
        margin-bottom: 20px;
        margin-left: -5px;
    }

    .footer__picture {
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {

    .wrapper {
        padding: 0 10px;
    }

    .header {
        top: 30px;
    }

    .header__block {
        display: block;
    }

    .header__logo {
        padding-left: 10px;
        z-index: 100;
    }

    .hamburger {
        position: absolute;
        width: 30px;
        height: 22px;
        right: 44px;
        display: inline-block;
        z-index: 16;
        transition: all 0.5s;
        margin-top: -50px;
    }

    .hamburger__line, .hamburger::before, .hamburger::after  {
        content: '';
        position: absolute;
        display: inline-block;
        height: 2px;
        width: 100%;
        left: 0;
        top: 12px;
        border-radius: 5px;
        background: #F1CDB3;
    }

    .hamburger::before{
        top: 2px;
    }

    .hamburger::after{
        top: 22px;
    }

    .hamburger__rotate--active {
        transform: rotate(90deg);
        transition: all 0.5s;
        position: fixed;
        top: 92px;
        right: 56px;
    }

    .header__logo--active {
        position: fixed;
        right: 120px;;
    }

    .menu__lists {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
        font-family: Arial;
        font-weight: normal;
        list-style: none;
        color: #CDCDCD;
        padding-top: 158px;
        position: fixed;
        width: 320px;
        background-color: #292929;
        height: 100%;
        top: 0;
        right: -400px;
        transition: right .5s;
        z-index: 15;
    }

    .menu__lists--active {
        right: 0;
    }

    .menu__item {
        margin-bottom: 40px;
    }

    .main--active {
        opacity: 0.5;
    }

    .hero {
        padding-top: 150px;
    }

    .hero__block {
        justify-content: center;
    }

    .hero__info {
        padding-bottom: 105px;
        align-items: center;
    }

    .hero__title {
        text-align: center;
        font-size: 25px;
        max-width: 300px;
        line-height: 32.5px;
        letter-spacing: 0.06em;
    }

    .hero__text {
        text-align: center;
        padding-bottom: 42px;
    }

    .hero__picture {
        width: 100%;
        padding-left: 40px;
    }

    .hero__button {
        display: flex;
        justify-content: center;
    }

    .about__block {
        height: auto;
        flex-direction: column-reverse;
        padding-top: 32px;
        padding-bottom: 28px;
    }

    .about__title {
        font-size: 25px;
        max-width: 270px;
        text-align: center;
    }

    .about__text {
        max-width: 270px;
        text-align: justify;
    }

    .about__picture {
        width: 85%;
        padding-top: 17px;
        margin-right: 0;
    }


    .our-friends {
        height: auto;
    }


    .our-friends__title {
        font-size: 25px;
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .our-friends__bth {
        padding-bottom: 42px;
    }

    .buttons__arrow--left {
        bottom: 0;
    }

    .buttons__arrow--right {
        bottom: 0;
    }

    .card {
        margin-bottom: 52px;
    }

    .card:nth-child(2) {
        display: none;
    }

    .card:nth-child(3) {
        display: none;
    }

    .cat {
        width: 67%;
        margin-left: 14px;
    }

    .name__cat {
        margin-top: 20px;
    }

    .buttons__arrow--left {
        bottom: 40px;
        left: 60px;
    }

    .buttons__arrow--right {
        bottom: 40px;
        right: 60px;
    }

    .help {
        height: 745px
    }

    .help__title {
        font-size: 25px;
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .help__info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 30px;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .icon__subtitle {
        padding-top: 20px;
        font-size: 15px;
    }


    .addition {
        height: auto;
    }

    .addition__block {
        flex-direction: column-reverse;
        padding-top: 42px;
    }

    .addition__info {
        max-width: 300px;
    }

    .addition__title {
        font-size: 25px;
        text-align: center;
        padding-bottom: 4px;
        margin-left: -7px;
    }

    .addition__text {
        font-family: 'Aria';
        max-width: 274px;
        text-align: center;
        padding-left: 10px;
        letter-spacing: 0.02em;
    }

    .addition__credit {
        width: 281px;
        margin-left: 5px;
        margin-top: 3px;
        align-items: center;
    }

    .credit__number {
        font-size: 15px;
    }

    .addition__description {
        max-width: 280px;
        text-align: justify;
        padding-left: 5px;
        padding-bottom: 45px;
    }

    .addition__picture {
        width: 93%;
        padding-bottom: 42px;
        padding-left: 21px;
    }

    .footer {
        height: auto;
    }

    .footer--active {
        opacity: 0.7;
    }

    .footer__block {
        flex-direction: column;
        align-items: center;
    }

    .footer__content {
        margin-top: 30px;
    }

    .footer__content--two {
        margin-left: 0;
        margin-top: 0;
    }

    .footer__picture {
        width: 85%;
        margin-top: 0;
    }

    .content__title {
        font-size: 25px;
        text-align: center;
        max-width: 294px;
        margin-left: 2px;
    }

    .content__list {
        margin-top: 19px;
    }

    .content__item {
        margin-left: -2px;
    }

    .link__icon-email {
        margin-left: 23px;
    }

    .link__icon-phone {
        margin-left: 30px;
    }

    .link__description {
        max-width: 274px;
    }

    .content__title--line {
        display: inline;
    }

    .indent {
        margin-top: 0;
    }

    .link__icon-pin {
        padding-left: 22px;
    }

}
