* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px
}

.main__time {
    font-size: 120px;
}

.main__title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.main__subtitle {
    margin-bottom: 8px;
    margin-top: 8px;
}

.main__name {
    display: inline-block;
}


.main__info {
    font-size: 60px;
}


@media only screen and (max-width: 767px) {

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main__time {
        font-size: 60px;
    }

    .main__info {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .main__title {
        font-size: 26px;
    }


}
