* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: peachpuff;
}

.title {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.textArea {
    width: 90%;
    margin: 0 auto;
    resize: none;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px 10px;
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 0;
    outline: none;
    height: calc(100vh - 455px);

}

.keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    user-select: none;
    transition: bottom 1.2s ease-out;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 40px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: #353535;
    font-size: 14px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.keyboard__key:active {
    background: rgb(27, 181, 216);
    transition: all .5s;
}

.keyboard__key--wide {
    width: 8%;
}

.keyboard__key--extra-wide {
    width: 59%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 5px;
    right: 5px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--shift::after {
    background: #f1da26;
}
