.hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 10px;
    z-index: 100;

    &__line-one, &__line-two, &__line-three {
        width: 35px;
        height: 3px;
        background-color: $cloudy-color;
        transition: 0.4s;
        margin-bottom: 6px;
    }

    .change &__line-one  {
        transform: rotate(-45deg) translate(-8px, 7px) ;
    }

    .change &__line-two {
        opacity: 0;
    }

    .change &__line-three {
        transform: rotate(45deg) translate(-5px, -5px) ;
    }
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    transition: all .5s ease-in-out;
    background: #1b1813;
    right: -500px;
    width: 100%;

    &__open {
        right: 0px;
    }

    &__title {
        color: $main-color;
        padding: 15px;
    }

    &__item {
        display: block;
        cursor: pointer;
        padding: 5px 12px 5px 22px;
        color: $cloudy-color;

        &:hover {
            background: rgba(255,255,255,.05);
        }
    }

    &__number {
        padding-left: 10px;
        padding-right: 10px;
    }
}
