.hljs-name, .hljs-attribute {
    color:  #22bd49 !important;
}

.hljs-tag {
    color: sandybrown !important;
}

.hljs {
    background: inherit !important;
    display: inline !important;
}
