@import './modal.scss';
@import './animation.scss';
@import './colors.scss';
@import './hamburger.scss';
@import './highlight.scss';


* {
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2e2a23;
}

.wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &__title {
        color: $main-color;
        font-size: 18px;
    }

    &__message {
        text-decoration: none
    }
}

.example {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__title {
        color: $main-color;
        margin-bottom: 10px;
        font-size: 30px;
        text-align: center;
    }

    &__help {
        color: $main-color;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 20px;
        width: 140px;
        height: 30px;
        outline: none;
        border: 0;
        cursor: pointer;
        background: $dark-color linear-gradient(to left, transparent, transparent 50%, $main-color 50%);
        background-position: 100% 0;
        background-size: 200% 100%;
        transition: all .5s ease-in;
        position: relative;

        &:hover {
            color: $dark-color;
            transition: all 0.5s ease-in;
            background-position: 0 0;
        }
    }

    &__table {
        width: 300px;
        height: 140px;
        background-color: $highlighter-color;
        margin: 0 auto;
        box-shadow: 0px 40px 10px rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.table {

    &__laptop {
        width: 100px;
        height: 100px;
        background-image: url(/assets/img/laptop.svg);
        background-size: cover;
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;

        &--move {
            animation-name: move;
            animation-timing-function: ease;
        }

        &--well {
            visibility: hidden;
        }
    }

    &__edge {
        width: 300px;
        margin: 0 auto 10px auto;
        background: #6c311b;
        height: 15px;
        transform: rotateX(-40deg);
        transform-origin: top;
    }

    &__leg {
        width: 24px;
        height: 10px;
        background: #6c311b;
        position: absolute;
        top: 15px;
        margin-left: 10px;

        &:first-child {
            right: 10px;
        }
    }
}

.redactor {
    width: 70%;
    min-height: 360px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    border: solid 10px rgba(0,0,0,.35);
    border-radius: 5px;
    margin-bottom: 10px;

    &__move {
        animation: tremor .1s 1;
    }

    &__css {
        width: 43%;
    }

    &__html {
        width: 43%;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }

    &__name {
        color: $main-color;
    }

    &__file {
        color: $cloudy-color;
    }

    &__window {
        background: $light-color;

        &--html {
            background: rgba(0,0,0,.35);
        }
    }

    &__list {
        padding-top: 8px;
    }

    &__item {
        padding-bottom: 10px;
        color: $main-color;
    }

    &__input {
        border: none;
        outline: 0;
        background: $light-color;
        padding-left: 10px;
        animation: blinker 2s cubic-bezier(1.0,0,0,1.0) infinite;
        color: $dark-color;
        font-weight: bold;

        &:focus {
            color: $dark-color;
            animation: none;
        }
    }

    &__button {
        font-size: 12px;
        width: 46px;
        height: 16px;
        text-align: center;
        margin-left: 60px;
        border-radius: 10px;
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
        outline: 0;
        border: none;
        cursor: pointer;
        color: $dark-color;

        &:hover {
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
            transform: translateY(3px);
            transition: all 0.1s ease-in-out;
        }

        &--active {
            transform: translateY(3px);
            transition: all 0.1s ease-in-out;
            background-color: $highlighter-color;
            color: $light-color;
        }
    }

    &__tag {
        padding-left: 30px;
    }
}

.level {
    position: fixed;
    width: 300px;
    right: 0;;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.35);
    z-index: 1;

    &__container {
        padding: 15px;
        height: 100%;
    }

    &__order {
        color: $main-color;
    }

    &__line {
        display: inline-block;
        height: 14px;
        width: 14px;
        border: solid 1px $cloudy-color;
        border-width: 3px 3px 0 0;
        transform: rotate(-135deg);
        cursor: pointer;
        box-sizing: border-box;
        margin-left: 75px;

        &--right {
            transform: rotate(45deg);
            cursor: pointer;
            margin-left: 0px;
        }
    }
}

.information {

    margin-top: 20px;
    line-height: 160%;

    &__title {
        color: $main-color;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__subtitle {
        color: $cloudy-color;
        margin-bottom: 10px;
    }

    &__symbol {
        color: $main-color;
        margin-bottom: 10px;
        background: $highlighter-color;
        display: inline-block;
        padding: 5px 8px;
    }

    &__description {
        color:  $cloudy-color;
        margin-bottom: 10px;
    }

    &__tag {
        background: $highlighter-color;
        padding: 2px 2px;
    }
}

.check {
    display: inline-block;
    width: 10px;
    height: 16px;
    border: 1px solid $cloudy-color;
    border-width: 0 3px 3px 0;
    transform: rotate( 45deg);
    margin-left: 10px;
}
