*{
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    margin: 30px auto 0;
}

.fragment {
    border: 1px solid #FFF;
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
}
