@import 'colors';

* {
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

body {
  background: $color-dark;
}

.container {
    position: relative;
    margin: 7px auto 0;
    border: 1px solid black;
    background-image: radial-gradient(rgb(231, 245, 232), rgb(231, 244, 233), rgb(232, 244, 235), rgb(232, 243, 236),
    rgb(233, 243, 238), rgb(233, 242, 239), rgb(200, 238, 234), rgb(167, 233, 228), rgb(134, 229, 223),
    rgb(101, 225, 218), rgb(68, 220, 212), rgb(35, 216, 207));
    max-width: 400px;
    max-height: 400px;
}

.fragment {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .5s ease-in;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 400px;
  min-height: 75px;
  margin: auto;

  &__move {
    color: $color-main;
  }

  &__time {
    color: $color-main;
  }

  &__button {
    line-height: 130%;
    letter-spacing: 1px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid $color-main;
    cursor: pointer;
    background: $color-main linear-gradient(to left, transparent, transparent 50%, $color-dark 50%);
    background-position: 100% 0;
    background-size: 200% 100%;

    &:hover {
      color: $color-main;
      transition: all 0.5s ease-in;
      background-position: 0 0;
    }
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(19, 19, 19, 0.51);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;

  &__open {
    opacity: 1;
    visibility: visible;
  }

  &__show {
    display: block;
  }

  &__content {
    width: 400px;
    margin: 50% 0 0 -200px;
    position: relative;
    top: 50%;
    left: 50%;
    background-image: linear-gradient(to top right, rgb(255, 161, 99), rgb(245, 167, 100), rgb(236, 173, 102), rgb(226, 180, 103),
    rgb(217, 186, 105), rgb(207, 192, 106), rgb(178, 196, 123), rgb(150, 200, 140), rgb(121, 204, 157), rgb(92, 208, 173),
    rgb(64, 212, 190), rgb(35, 216, 207));
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 7px;
  }

  &__hide {
    display: none;
  }

  &__close {
    font-size: 28px;
    display: block;
    color: $color-modal;
    cursor: pointer;
    position: absolute;
    right: 10px;

    &:hover {
      color: $color-dark;
      transition: all .5s;
    }
  }

  &__info {
    color: $color-modal;
    font-size: 18px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }

  &__open &__content {
    display: block;
    margin-top: -200px;
    opacity: 1;
  }

  &__numbers-move {
    color: $color-dark;
    padding: 0 7px;
    font-weight: bold;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  &__button {
    line-height: 130%;
    letter-spacing: 1px;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid $color-main;
    cursor: pointer;
    background: $color-main linear-gradient(to left, transparent, transparent 50%, $color-dark 50%);
    background-position: 100% 0;
    background-size: 200% 100%;

    &:hover {
      color: $color-main;
      transition: all 0.5s ease-in;
      background-position: 0 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-dark;

    &:hover {
      color: $color-main;
    }
  }
}
