
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.eot'),
        url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
        url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/roboto-v20-latin-500.eot'),
        url('../fonts/roboto-v20-latin-500.woff') format('woff'),
        url('../fonts/roboto-v20-latin-500.ttf') format('truetype'),
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/roboto-v20-latin-700.eot'),
        url('../fonts/roboto-v20-latin-700.woff') format('woff'),
        url('../fonts/roboto-v20-latin-700.ttf') format('truetype'),
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
    /* padding: 0 40px; */
}

.bg {
    background: url(./assets/image/bg-image-wrapper.png);
    height: 744px;
}

.header__title {
    overflow: hidden;
}

.nav__item {
    display: flex;
    justify-content: center;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    opacity: 0.8;
    position: relative;
}

.nav__list {
    padding-right: 85px;
}

.nav__list:nth-child(2) {
    padding-right: 99px;
}

.nav__list:nth-child(3) {
    padding-right: 101px;
}

.nav__list:nth-child(4) {
    padding-right: 83px;
}

.nav__list:last-child {
    padding-right: 0px;
}

.nav__list:hover::before {
    position: absolute;
    content: '';
    width: 38px;
    bottom: 0;
    transition: all .5s linear;
    border: 1px solid #FFFFFF;
    color: whitesmoke;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-top: 38px;
}

.nav__logo {
    background-image: url(./assets/image/logo.svg);
    height: 45px;
    width: 44px;
    display: inline-block;
    background-size: cover;
    margin-top: -13px;
}


.your-live {
    margin-top: 157px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-live__title {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.your-live__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.your-live__btn {
    width: 184px;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 183px;
    outline: 0;
    border: none;
    background: #00AFDB linear-gradient(to left, transparent, transparent 50%, #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.5s ease-in;
}

.your-live__btn:hover {
    color:#00AFDB;
    background-position: 0 0;
}

.social {
    display: flex;
    list-style: none;
}

.social__item {
    margin-right: 30px;
}

.social__item:last-child {
    margin-right: 0;
}

.icon{
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: cover;
}

.icon:hover{
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}

.icon__mail{
    background-image: url(./assets/image/mail_fff.svg);
}

.icon__facebook{
    background-image: url(./assets/image/facebook_fff.svg);
}

.icon__insta{
    background-image: url(./assets/image/insta_fff.svg);
}
.icon__telegram{
    background-image: url(./assets/image/telegram_fff.svg);
}


.rappresent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 842px;
}

.rappresent__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.rappresent__title {
    width: 367px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 20px;
    margin-top: -20px;
}

.rappresent__text {
    width: 407px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    padding-bottom: 30px;
    letter-spacing: 0.2px;
}

.rappresent__btn {
    width: 184px;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.5s ease-in;
    background-color: #00AFDB;
    letter-spacing: -0.6px;
}

.rappresent__btn:hover {
    color:#00AFDB;
    background-color:#8adff5;
}

.rappresent__picture {
    padding-top: 120px;
    height: 581px;
    padding-right: 20px;
}

.community {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 504px;
    background: #f5f6f7;
    position: relative;
}

.community__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 298px;
    padding-left: 272px;
    margin-bottom: 20px;
}

.community__person {
    padding-bottom: 20px;
}

.community__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 10px;
}

.community__text {
    width: 298px;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    color: #4E4E4E;
}

.community__content {
    display: flex;
    margin-bottom: 20px;
}

.community__slider {
    margin-right: 30px;
}

.community__slider:last-child {
    margin-right: 0px;
}

.slider-nav {
    position: absolute;
    right: 268px;
    top: 78px;
}

.slider-nav__pagination {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #373737;
}

.slider-nav__arrow-left {
    padding-right: 11px;
    cursor: pointer;
}

.slider-nav__arrow-right {
    padding-left: 10px;
    cursor: pointer;
}

.slider-nav__arrow-left:hover, .slider-nav__arrow-right:hover {
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
    transition: all .5s linear;
}

.implement {
    height: 842px;
    display: flex;
    align-items: center;
}

.implement__picture {
    padding-right: 139px;
    margin-top: -20px;
    padding-left: 269px;
}

.implement__info {
    width: 407px;
    margin-top: -20px;
}

.implement__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    padding-bottom: 20px;
}

.implement__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
    padding-bottom: 30px;
}

.implement__btn {
    width: 180px;
    height: 46px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.5s ease-in;
    background-color: #00AFDB;
    letter-spacing: -0.6px;
}

.implement__btn:hover {
    color:#00AFDB;
    background-color:#8adff5;
}
